extends layout

block content
    body.container.error-bg
        .head.peekawoo-error-logo
            .container
                .error-blue-image
                p.text-error1 Something went kookoo!
                p.text-error2 Come back later or refresh the page
                center
                    input.btn.btn-info.btn-large(type="button" onclick="window.location='/login'" value="Go to Login")

        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-43851834-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            window.location.hash="no-back-button";
            window.location.hash="Again-no-back-button";//for google chrome
            window.onhashchange=function(){window.location.hash="no-back-button";}