extends layout

block content
    body.container.index-bg
        #pd1379581899473.pd-embed
        .head.peekawoo-logo
        .container.container-login
            .span6.span-height
                iframe(width='420', height='315', src='//www.youtube.com/embed/OvxH_pN8I88', frameborder='0', allowfullscreen='allowfullscreen')
            .span6.span-height
                form.form-login(method='get', action='/subscribe2', id='subscribe').span6
                    .span5.index-form-container
                        br
                        h1.text-signin Sign In
                        p.text-signin2 Speed date with random people around the world
                        br
                        a.sb-facebook(href="/authfb")
                        p.text-signin2 or
                        a.sb-twitter(href="/authtw")
                        br
                        hr.hr-line
                        p.text-email Want to be the first to try out our app?
                            input.email(type="email", name="inputBox", placeholder="Enter your email here",required='required') 
                        button.subscribe-button(type='submit',name='input.email')
        script(type='text/javascript')
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-43851834-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            var _polldaddy = [] || _polldaddy;
            _polldaddy.push( {
                type: 'slider',
                title: 'Take Our Survey!',
                body: 'Please help us improve our service to you by taking our quick survey :)',
                button: 'Get Started »',
                domain: 'peekawooapp.polldaddy.com/s/',
                id: 'peekawoo-chat-feedback-survey',
                placeholder: 'pd1379581899473'
            } );
            (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src='http://i0.poll.fm/survey.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-embed'));
        noscript
            a(href='http://peekawooapp.polldaddy.com/s/peekawoo-chat-feedback-survey') Take Our Survey!