extends layout

block content
    body.container.index-bg(oncontextmenu='return false;',onload='document.form1.inputBox.focus()')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
            .span6.newSpanCon
                iframe(src='http://chat.peekawoo.com/counter',width='200', height='100', frameborder='0', allowtransparency='true').frameStyle.framePosition
        .container.container-login
            .span6.span-height
                iframe(width='420', height='315', src='//www.youtube.com/embed/OvxH_pN8I88', frameborder='0', allowfullscreen='allowfullscreen')
            .span6.span-height
                form.form-login(name='form1', method='get', action='/subscribe2', id='subscribe',onsubmit="return ValidateEmail()").span6
                    .span5.index-form-container
                        br
                        h1.text-signin Sign In
                        p.text-signin2 Speed date with random people around the world
                        br
                        a.sb-facebook(href="/authfb")
                        p.text-signin2 or
                        a.sb-twitter(href="/authtw")
                        br
                        hr.hr-line
                        p.text-email Want to be the first to try out our app?
                            input.email(type="email", name="inputBox", placeholder="Enter your email here",required='required') 
                        button.subscribe-button(type='submit',name='input.email')
        script(type='text/javascript')
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-43851834-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            function ValidateEmail(){
                var inputText = document.form1.inputBox.value;
                var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                if(inputText.value.match(mailformat)){
                    document.form1.inputBox.focus();
                    return true;
                }else{
                    alert("You have entered an invalid email address!");
                    document.form1.inputBox.focus();
                    return false;
                }
            }