extends layout

block content
    body.container.error-bg(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-error-logo
            .container
                .subscribe2-container
                    button(type="button", onclick="window.open('http://www.facebook.com/peekawooapp','_blank');").subscribe2-image-facebook
                    button(type="button", onclick="window.open('http://www.twitter.com/peekawooapp','_blank');").subscribe2-image-twitter
                    button(type="button", onclick="window.open('http://www.instagram.com/peekawoo','_blank');").subscribe2-image-instagram
                p.text-email "Thank you! Like us on Facebook and follow us on 
                p.text-email Twitter and Instagram"
                input.btn.btn-info.btn-large(type="button" onclick="window.location='/'" value="Go to Login")
        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-43851834-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
